.mdl-components__pages {
  display: inline-block;
  flex-grow: 1;
  padding-bottom: 120px;
}

.ptf-examples {
	display:-webkit-box;  
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}

  .ptf-examples .ptf-examples__nav {
    display: inline-block;
    background: #fff;
    width: 256px;
    box-sizing: border-box;
    padding: 24px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
  }

  .ptf-examples .ptf-examples__link {
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    position: relative;
    padding-left: 72px;
    box-sizing: border-box;
    min-height: 48px;
    display: table;
    line-height: 48px;
    width: 100%;
  }
  .ptf-examples__link:hover {
    background-color: #E0E0E6;
  }
.ptf-examples__link-image {
  display: inline-block;
  margin: 0px 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #DDD;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 48px;
  border-radius: 50%;
  height: 46px;
  width: 46px;
}
