@{
  this.ViewBag.Title = "Examples";
  this.ViewBag.page = "examples";
  this.Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
  <link href="css/examples.css" rel="stylesheet" />
}
<main class="mdl-layout__content">
  <div class="content mdl-grid mdl-grid--no-spacing">
    <div class="ptf-examples mdl-cell mdl-cell--12-col">
      <aside class="ptf-examples__nav mdl-shadow--4dp">
        <a class="ptf-examples__link equalizer">
          <div class="ptf-examples__link-image" style="background-image: url('../images/examples/equalizer.svg');">&nbsp;</div>
          <span class="">Эквалайзер</span>
        </a>
        <a class="ptf-examples__link flights">
          <div class="ptf-examples__link-image" style="background-image: url('../images/examples/plane.svg');">&nbsp;</div>
          <span class="">Табло рейсов</span>
        </a>
      </aside>
      <main class="mdl-components__pages">

      </main>
    </div>
  </div>
</main>
<script type="text/javascript">

</script>