@{
    this.ViewBag.Title = "Home page";
  this.ViewBag.page = "main";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
<link href="css/home.css" rel="stylesheet" />
}

<main class="mdl-layout__content">
  <div class="content">
    <div class="ptf-entries">
      <div class="ptf-entry">
        <h3>Welcome</h3>
      </div>
    </div>
  </div>
</main>